@font-face {
  font-family: 'font-main';
  src: url(../assets/OpenSans-VariableFont_wdth/wght.ttf) format('truetype');
}

@font-face {
  font-family: 'font-secondary';
  src: url(../assets/Anton-Regular.ttf) format('truetype');
}

:root {
  --color-accent__main: grey;
  --color-accent__secondary: rgb(161, 161, 161);
  --color-font__main: rgb(37, 37, 37);
  --color-font__secondary: grey;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'font-main', sans-serif;
  color: var(--color-font__main);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'font-secondary', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

header {
  padding: 2rem 0;
  h1 {
    font-size: 2rem;
    color: var(--color-accent__main);
  }
  p {
    background-color: var(--color-accent__main);
    color: white;
    max-width: max-content;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    button {
      padding: 0.5rem;
      cursor: pointer;
      border: 2px solid var(--color-accent__main);
      background-color: rgb(212, 212, 212);
      color: var(--color-accent__main);
      transition: 0.5s;
      & svg {
        transition: 0.5s;
      }
      &:hover {
        & svg {
          transform: scale(1.5);
        }
      }
    }
  }
}

.experience,
.education,
.skills,
.hobbies {
  padding: 1rem;
  position: relative;
  h2 {
    line-height: 1;
    color: var(--color-accent__main);
    border-bottom: 2px solid var(--color-accent__main);
  }
}

main {
  max-width: 1100px;
  aspect-ratio: 210 / 297;
  width: 80%;
  margin: 0 auto;
  border: 2px solid grey;
  display: grid;
  gap: 1rem 0;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto auto 1fr;
}

button.change {
  position: absolute;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--color-accent__main);
  background-color: rgb(212, 212, 212);
  color: var(--color-accent__main);
  transition: 0.5s;
  & svg {
    transition: 0.5s;
  }
  &:hover {
    & svg {
      transform: scale(1.5);
    }
  }
}
.general {
  position: relative;
  grid-row: span 4;
  grid-column: 1;
  background-color: var(--color-accent__main);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.2rem;
  h1 {
    text-align: left;
    width: min-content;
    font-size: 1.8rem;
    align-self: start;
  }
  p {
    font-size: 1rem;
  }
  .generalBox {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h2 {
      margin-top: 2rem;
    }
  }
  & > button {
    left: -70px;
    top: 20px;
  }
  img {
    max-width: 90%;
  };
}

.experience {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  form {
    display: flex;
    flex-direction: column;
  }
  .change {
    right: -60px;
    top: 20px;
  }
  .jobsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .job {
      border-bottom: 1px solid var(--color-accent__secondary);
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      & > p:first-child,
      & > p:nth-child(3) {
        font-weight: bold;
        color: var(--color-accent__main);
      }
      .duties {
        grid-row: span 2;
      }
      .change {
        top: 0px;
      }
      .change:last-of-type {
        right: -100px;
      }
    }
  }
}

.education {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  .change {
    right: -60px;
    top: 5px;
  }
  .school {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid var(--color-accent__main);
    p {
      font-weight: bold;
      color: var(--color-accent__main);
    }
  }
}

.skills {
  .change {
    right: -60px;
    top: 5px;
  }
  .skillsContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .skill {
    position: relative;
    list-style-position: inside;

    & > .change {
      right: -76px;
      top: -10px;
    }
    li {
      font-weight: bold;
      color: var(--color-accent__main);
    }
  }
}
.hobbies {
  .change {
    right: -60px;
    top: 5px;
  }
  .hobbiesContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .hobby {
      position: relative;
      list-style-position: inside;
      & > .change {
        right: -76px;
        top: -10px;
      }
      li {
        font-weight: bold;
        color: var(--color-accent__main);
      }
    }
  }
}

dialog[open] > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 3px solid black;
}

dialog[open] {
  z-index: 100;
  border: none;
  background-color: var(--color-accent__main);
  color: white;

  & label {
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  & label.textarea {
    display: inline;
    min-width: max-content;
  }
  button {
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-accent__main);
    background-color: white;
    padding: 0.5rem 1rem;
    width: 200px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1) translateY(-5px);
    }
  }
  & textarea {
    padding: 0.5rem;
    min-width: 100%;
  }
  & input {
    padding: 0.5rem;
    margin-left: auto;
  }
}



dialog.dialogEducation[open] {
  position: relative;
  left: -330px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid black;
  .schoolBox {
    display: flex;
    border: 2px solid white;
    &:has(input:not([readOnly])) {
      border: 2px solid black;
    }
    gap: 0.5rem;
    button {
      width: min-content;
    }
  }
  .newSchool {
    border: 2px solid white;
    padding: .2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: .5rem;
    &>button {
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
      grid-column: 2;
      grid-row: 1/3;
      margin-top:2.5rem;
    }
  }
}

// .schoolBox input:not([readOnly]) {
//   border: 2px solid green;
// }

@media print {
  @page {
    margin: 0;
  }

  main {
    border: none;
  }

  * {
    overflow: hidden;
  }

  header,
  footer,
  button {
    display: none;
  }

  main {
    width: 100vw;
    height: 100vh;
    page-break-after: always;
  }
}
